* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
       margin: 0; 
       background: #050505; 
       overflow: hidden; 
       font-family: sans-serif;
      }



canvas { display: block; }

.ui {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;                /* Espacio entre elementos */
    color: #00ffcc;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    pointer-events: none;
}