* {
  margin: 0;  padding: 0;
  box-sizing: border-box;
}

body { margin: 0; background: #050505; overflow: hidden; font-family: sans-serif;}

canvas { display: block; }

.ui {
      position: absolute; top: 20px; left: 20px; color: #00ffcc;
       pointer-events: none; text-transform: uppercase; letter-spacing: 2px;
       display: flex;
       align-items: center; justify-content: center; flex-direction: column
    }